<div class='row'>
 <div class='col-md-8 col-md-offest-2 doc-top'>
  <h4 class='doc-info'>REST API</h4>
  <ul class='doc-info'>
    <li>Public API</li>
    <li>Access over HTTP</li>
    <li>Calls require a client id and a secret id</li>
  </ul>
 </div>
</div>

<div class='docs'>
  <ul class="collap" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><div class='doc-icon'><i class="material-icons">http</i></div>GET Categories</div>
      <div class="collapsible-body">
        <div class='left-doc'>
          <p class='call-desc'><span class='title'>Response: </span>Returns a list of all categories</p>
          <p class='call-itslef'><span class='title'>Request URL: </span>http://grocerylink.io/api/lookup/categories?client_id=CLIENT_ID&secret_id=SECRET_ID</p>
        </div>
        <div class='right-doc'>
          <p><%= image_tag('assets/all_categories', size: '250') %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">http</i>GET Retailers</div>
      <div class="collapsible-body">
        <div class='left-doc'>
          <p class='call-desc'><span class='title'>Response: </span>Returns a list of all retailers available</p>
          <p class='call-itslef'><span class='title'>Request URL: </span>http://grocerylink.io/api/lookup/retailers?client_id=CLIENT_ID&secret_id=SECRET_ID</p>
        </div>
        <div class='right-doc'>
          <p><%= image_tag('assets/all_retailers', height: '300', width: '250') %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">http</i>GET Retailers in Area</div>
      <div class="collapsible-body">
        <div class='left-doc'>
          <p class='call-desc'><span class='title'>Response: </span>Returns a list of all retailers available in the city and state given</p>
          <p class='call-itslef'><span class='title'>Request URL: </span>http://grocerylink.io/api/lookup/retailersinarea?client_id=CLIENT_ID&secret_id=SECRET_ID&city=CITY&state=STATE</p>
        </div>
        <div class='right-doc'>
          <p><%= image_tag('assets/stores_in_area', height: '310', width: '225') %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">http</i>GET Products by Name</div>
      <div class="collapsible-body">
        <div class='left-doc'>
          <p class='call-desc'><span class='title'>Response: </span>Returns a list of all products that match by name. Each item object contains a retailers key with all the retailers that carry the item in an array.</p>
          <p class='call-itslef'><span class='title'>Request URL: </span>http://grocerylink.io/api/products/byname?client_id=CLIENT_ID&secret_id=SECRET_ID&name=NAME</p>
        </div>
        <div class='right-doc'>
          <p><%= image_tag('assets/item_by_name', height: '320', width: '220') %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">http</i>GET Product by Id</div>
      <div class="collapsible-body">
        <div class='left-doc'>
          <p class='call-desc'><span class='title'>Response: </span>Returns a list of retailers that carry the item and their specific pricing.</p>
          <p class='call-itslef'><span class='title'>Request URL: </span>http://grocerylink.io/api/products/byid?client_id=CLIENT_ID&secret_id=SECRET_ID&id=ID</p>
        </div>
        <div class='right-doc'>
          <p><%= image_tag('assets/product_by_id', height: '250', width: '260') %></p>
        </div>
      </div>
    </li>
  </ul>
</div>

