<h2>Stores</h2>
<table class="table table-hover display" id='table_for_data'>
 <thead>
    <tr>
      <th>Store ID</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Edit Store</th>
      <th>Remove Store</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><a href=<%= "/stores/#{store.id}" %>><%= store.id %></a></td>
        <td><%= store.street.titleize %></td>
        <td><%= store.city.titleize %></td>
        <td><%= store.state %></td>
        <td><%= store.zip %></td>
        <td><%= link_to "Edit", edit_store_path(store.id) %></td>
        <td><%= link_to "Delete", store_path(store.id), method: :delete %></td>
      </tr>
     <% end %>
  </tbody>
</table>
<div class="center">
  <%= will_paginate @stores, renderer: BootstrapPagination::Rails %>
</div>
