<p>
  <strong>Store Id:</strong>
  <%= @store.store_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @store.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @store.zip %>
</p>

<%= button_to "Edit", edit_store_path(@store.id), method: :get, class: 'submit' %>
<%= button_to "Delete", store_path(@store.id), method: :delete, class: 'submit' %>
