<p>
  <strong>Store Id:</strong>
  <%= @store.id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @store.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @store.zip %>
</p>
