<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @store.store_id %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @store.retailer %>
</p>

<p>
  <strong>Street:</strong>
  <%= @store.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @store.zip %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
