<div class='row show-page-row'>
  <div class='col-md-12 show-page-info-block'>
    <p>
      <h6>Store Id:</h6>
      <%= @store.store_id %>
    </p>

    <p>
      <h6>Street:</h6>
      <%= @store.street %>
    </p>

    <p>
      <h6>City:</h6>
      <%= @store.city %>
    </p>

    <p>
      <h6>State:</h6>
      <%= @store.state %>
    </p>

    <p>
      <h6>Zip Code:</h6>
      <%= @store.zip %>
    </p>
    <div class='row for-show-btns'>
      <%= button_to "Edit", edit_store_path(@store.id), method: :get, class: 'submit on-show' %>
      <%= button_to "Delete", store_path(@store.id), method: :delete, class: 'submit on-show' %>
    </div>
  </div>
</div>
