<div class='dash-page'>
  <div class='row dash-header'>
    <div class='col-xs-9'>
      <h4>Weclome, <%= current_user.name.titleize %></h4>
    </div>
    <div class='col-sm-3'>
      <span><%= Time.now.strftime("%b %-d %Y, %-l:%M %P") %></span>
    </div>
  </div>
  <div class='row initial-dash'>
    <div class='col-sm-2 report-col'>
      <div class="each-report">
        <div class="report-header">Store Count</div>
        <div class="report-body"><%= @store_count %></div>
      </div>
    </div>
    <div class='col-sm-2 report-col'>
      <div class="each-report">
        <div class="report-header">Items Count</div>
        <div class="report-body"><%= @item_count %></div>
      </div>
    </div>
    <div class='col-sm-3 report-col'>
      <div class="each-report">
        <div class="report-header">Organics Count</div>
        <div class="report-body"><%= @organics_count %></div>
      </div>
    </div>
    <div class='col-sm-3 report-col'>
      <div class="each-report">
        <div class="report-header">Organics Mix</div>
        <div class="report-body"><%= @organics_mix %>%</div>
      </div>
    </div>
    <div class='col-md-2 report-col'>
      <div class="each-report">
        <div class="report-header">Organics Ranking</div>
        <div class="report-body"><%= org_percentile %></div>
      </div>
    </div>
  </div>
  <div class='row reports-detail'>
    <div class='col-md-3'>
      <h4>50 Highest Priced items compared to other retailers</h4>
      <%= react_component("HighReportButton") %>
    </div>
     <div class='col-md-6'>
      <div class="panel panel-default">
        <div id="chartContainer-for-me" class='org-pie-chart' style="height: 300px; width: 100%;"></div>
      </div>
    </div>
    <div class='col-md-3'>
    <h4>50 Lowest Priced items compared to other retailers</h4>
      <%= react_component('LowReportButton') %>
    </div>
  </div>
</div>

