<div class='row'>
  <div class='col-md-2 col-md-offset-2'>
    <div class="panel panel-default">
      <div class="panel-heading">Store Count</div>
      <div class="panel-body"><%= @store_count %></div>
    </div>
  </div>
  <div class='col-md-2 col-md-offset-1'>
    <div class="panel panel-default">
      <div class="panel-heading">Items Count</div>
      <div class="panel-body"><%= @item_count %></div>
    </div>
  </div>
  <div class='col-md-2 col-md-offset-1'>
    <div class="panel panel-default">
      <div class="panel-heading">Organics Count</div>
      <div class="panel-body"><%= organics_for(current_retailer).count %></div>
    </div>
  </div>
</div>
<div class='row'>
<% high_list = high_priced_items_for(current_retailer) %>
<% low_list = low_priced_items_for(current_retailer) %>
  <div class='col-md-4 col-md-offset-2'>
    <h3>Top 5 Highest Priced item compared to other retailers</h3>
    <% high_list.each do |item| %><%= item.name %><br><% end %>
  </div>
  <div class='col-md-4 col-md-offset-1'>
  <h3>Top 5 Lowest Priced item compared to other retailers</h3>
    <% low_list.each do |item| %><%= item.name %><br><% end %>
  </div>
</div>













