<div class='navbar-fixed'>
  <nav>
    <div class='nav-wrapper'>
      <ul><li class=<%= active_if(root_path) %>><%= link_to 'Home', root_path %></li>
      <li class=<%= active_if(docs_path) %>><%= link_to 'Docs', docs_path %></li></ul>
      <% if user_is_admin? %><%= render partial: 'partials/adnav' %><% end %>

        <ul id="nav-mobile" class=" right hide-on-med-and-down">
          <% if current_user %>
          <li class=<%= active_if(destroy_user_session_path) %>><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class=<%= active_if(new_user_session_path) %>><a href="/users/sign_in">Log In</a></li>
          <% end %>
          <li class=<%= active_if(new_user_registration_path)%>><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
    </div>
  </nav>
</div>
