<div class='navbar-fixed'>
  <nav>
    <div class='nav-wrapper'>
      <ul><li><%= link_to 'groceryLink', root_path, class: 'home-logo' %></li></ul>
      <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
      <ul class='hide-on-med-and-down'><li class=<%= active_if(docs_path) %>><%= link_to 'Docs', docs_path %></li></ul>

      <ul class='side-nav' id='mobile-demo'><li class=<%= active_if(docs_path) %>><%= link_to 'Docs', docs_path %></li>
      <% if user_is_admin? %>
        <li><%= link_to 'Dashboard', dashboard_path %></li>
        <li><%= link_to "Add a Store", new_store_path %></li>
        <li><%= link_to "All Stores", stores_path %></li>
        <li><%= link_to "All Items", items_path %></li>
        <li><%= link_to "Add Item", new_item_path %></li>
      <% end %>
      <% if current_user %>
        <li class=<%= active_if(destroy_user_session_path) %>><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li class=<%= active_if(new_user_session_path) %>><a href="/users/sign_in">Log In</a></li>
      <% end %>
      <li class=<%= active_if(new_user_registration_path)%>><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul>

      <% if user_is_admin? %><%= render partial: 'partials/adnav' %><% end %>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
          <li class=<%= active_if(destroy_user_session_path) %>><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class=<%= active_if(new_user_session_path) %>><a href="/users/sign_in">Log In</a></li>
          <% end %>
          <li class=<%= active_if(new_user_registration_path)%>><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
    </div>
  </nav>
</div>
