<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Category</th>
      <th>Category</th>
      <th>Non gmo</th>
      <th>Organic</th>
      <th>Total servings</th>
      <th>Servings unit</th>
      <th>Upc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.brand %></td>
        <td><%= item.name %></td>
        <td><%= item.category %></td>
        <td><%= item.category_id %></td>
        <td><%= item.non_gmo %></td>
        <td><%= item.organic %></td>
        <td><%= item.total_servings %></td>
        <td><%= item.servings_unit %></td>
        <td><%= item.upc %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
