<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <h2>New Item</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <p class='upload'>Upload a CSV file</p>
    <%= form_tag csv_new_items_path, multipart: true do %>
      <%= file_field_tag :file, class: 'file-csv-name' %>
      <%= submit_tag "Import New Items", class: "submit" %>
    <% end %>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', items_path %>
