<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @item.manufacturer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @item.ingredients %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @item.tags %>
</p>

<p>
  <strong>Total servings:</strong>
  <%= @item.total_servings %>
</p>

<p>
  <strong>Servings unit:</strong>
  <%= @item.servings_unit %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @item.upc %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
