<!DOCTYPE html>
<html>
<head>
  <title>GroceryLink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/bellota" rel="stylesheet" type="text/css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

</head>
<body class=<%= photo_if_page(root_path) %>>
<div class='fader'>
  <%= render partial: 'partials/navbar' %>

<% if notice %>
  <p class="alert alert-success data-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger data-error"><%= alert %></p>
<% end %>

<div class=<%= container_fluid_if(dashboard_path) %>>
  <%= yield %>
</div>
<!--Import jQuery before materialize.js-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <%= javascript_include_tag 'bin/materialize.min.js' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</div>
</body>
</html>
