<!DOCTYPE html>
<html>
<head>
  <title>GroceryLink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <%= render partial: 'partials/navbar' %>

<% if notice %>
  <p class="alert alert-success data-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger data-error"><%= alert %></p>
<% end %>

<div class='container'>
  <%= yield %>
</div>
<!--Import jQuery before materialize.js-->
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <%= javascript_include_tag 'bin/materialize.min.js' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
